# Compiled
*.class
target/
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# Configuration sensible
application-local.properties
application-dev.properties
*.env
.env

# Fichiers utilisateurs
annuaire/

# OS
.DS_Store
Thumbs.db